{:paths ["src" "resources"]
 :mvn/repos {"mule-release" {:url "https://repository.mulesoft.org/releases/"}}
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        metosin/reitit {:mvn/version "0.7.0-alpha5"}
        org.fusesource.jansi/jansi {:mvn/version "2.4.0"}
        jansi-clj/jansi-clj {:mvn/version "1.0.3"}
        clj-commons/clj-yaml {:mvn/version "1.0.27"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        borkdude/edamame {:mvn/version "1.3.23"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.2.3"}
        com.taoensso/nippy {:mvn/version "3.3.0-RC1"}
        com.owainlewis/salesforce {:mvn/version "1.0.2"}
        metosin/malli {:mvn/version "0.16.3"}
        com.dylibso.chicory/runtime {:mvn/version "0.0.12"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        com.mysql/mysql-connector-j {:mvn/version "8.4.0"}
        io.gitlab.myst3m/silvur {:local/root "/home/myst/projects/silvur"}
        io.gitlab.myst3m/zeph {:local/root "/home/myst/projects/zeph"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        org.mule.weave/runtime {:mvn/version "2.9.1"}
        org.mule.weave/core-modules {:mvn/version "2.9.1"}
        org.mule.weave/java-module {:mvn/version "2.9.1"}
        org.mule.weave/yaml-module {:mvn/version "2.9.1"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                            :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                    :main-opts ["-m"
                                "cognitect.test-runner"
                                "-d"
                                "test"]}
           :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
                   :ns-default build}}}
