{:paths ["src" "resources"]
 :mvn/repos {"mule-release" {:url "https://repository.mulesoft.org/releases/"}}
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        metosin/reitit {:mvn/version "0.7.0-alpha5"}
        org.fusesource.jansi/jansi {:mvn/version "2.4.0"}
        jansi-clj/jansi-clj {:mvn/version "1.0.3"}
        org.yaml/snakeyaml {:mvn/version "2.2"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        metosin/jsonista {:mvn/version "0.3.8"}
        org.clojure/data.json {:mvn/version "2.5.0"}  ;; Required by silvur dependencies
        borkdude/edamame {:mvn/version "1.3.23"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.2.3"}
        com.taoensso/nippy {:mvn/version "3.3.0-RC1"}
        com.owainlewis/salesforce {:mvn/version "1.0.2"}
        com.dylibso.chicory/runtime {:mvn/version "0.0.12"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        com.mysql/mysql-connector-j {:mvn/version "8.4.0"}
        io.gitlab.myst3m/silvur {:local/root "/home/myst/projects/silvur"
                                  :exclusions [com.cognitect/transit-clj
                                               buddy/buddy
                                               twitter-api/twitter-api]}
        io.gitlab.myst3m/zeph {:git/url "https://gitlab.com/myst3m/zeph"
                                 :sha "6f5f176889dbefd1a89a2ff6a6c0c2d2a43a460e"}
        org.mule.weave/runtime {:mvn/version "2.9.1"}
        org.mule.weave/core-modules {:mvn/version "2.9.1"}
        org.mule.weave/java-module {:mvn/version "2.9.1"}
        org.mule.weave/yaml-module {:mvn/version "2.9.1"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        metosin/malli {:mvn/version "0.16.4"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        org.jline/jline {:mvn/version "3.26.3"}

        ;; Maven Embedder (for yaac build)
        org.apache.maven/maven-embedder {:mvn/version "3.9.9"}
        org.apache.maven/maven-compat {:mvn/version "3.9.9"}
        org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "1.9.22"}
        org.apache.maven.resolver/maven-resolver-transport-http {:mvn/version "1.9.22"}

        ;; Mule Maven Plugin (lifecycle mapping for native image)
        org.mule.tools.maven/mule-maven-plugin {:mvn/version "4.6.1"
                                                 :exclusions [org.slf4j/jcl-over-slf4j
                                                              org.slf4j/slf4j-api]}
        ;; Required by mule-maven-plugin on Java 11+
        javax.activation/activation {:mvn/version "1.1.1"}
        ;; Mule Maven Plugin transitive deps (needed in native image classpath)
        org.codehaus.plexus/plexus-archiver {:mvn/version "4.9.2"}
        org.codehaus.plexus/plexus-io {:mvn/version "3.6.0"}
        org.codehaus.plexus/plexus-compiler-api {:mvn/version "2.14.2"}
        org.codehaus.plexus/plexus-compiler-javac {:mvn/version "2.14.2"}
        org.codehaus.plexus/plexus-compiler-manager {:mvn/version "2.14.2"}
        org.codehaus.plexus/plexus-java {:mvn/version "1.4.0"}
        io.airlift/aircompressor {:mvn/version "0.27"}

        ;; Maven standard plugins (must be in native image classpath)
        org.apache.maven.plugins/maven-clean-plugin {:mvn/version "3.2.0"}
        org.apache.maven.plugins/maven-resources-plugin {:mvn/version "3.3.1"}
        org.apache.maven.plugins/maven-compiler-plugin {:mvn/version "3.13.0"}
        org.apache.maven.plugins/maven-surefire-plugin {:mvn/version "3.1.2"
                                                      :exclusions [org.eclipse.aether/aether-util
                                                                   org.eclipse.aether/aether-api]}
        org.apache.maven.shared/maven-filtering {:mvn/version "3.3.2"}
        org.apache.maven.shared/maven-shared-utils {:mvn/version "3.4.2"}
        org.sonatype.plexus/plexus-build-api {:mvn/version "0.0.7"}

}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                            :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                    :main-opts ["-m"
                                "cognitect.test-runner"
                                "-d"
                                "test"]}
           :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
                   :ns-default build}}}
